@page
@model Pages.Party.LessonsPage
@using App.Pages.Extensions
@{
    
    Layout = "_Index";
}

<body>
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-page="./Index"
               asp-page-handler="Index"
               asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.Instructor))"
               asp-route-pageIndex="@Model.PageIndex"
               asp-route-currentFilter="@Model.CurrentFilter"
            >@nameof(Model.Item.Instructor)</a>
        </th>
        <th>
            <a asp-page="./Index"
               asp-page-handler="Index"
               asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.Student))"
               asp-route-pageIndex="@Model.PageIndex"
               asp-route-currentFilter="@Model.CurrentFilter">@nameof(Model.Item.Student)</a>
        </th>
        <th>
            <a asp-page="./Index"
               asp-page-handler="Index"
               asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.LessonName))"
               asp-route-pageIndex="@Model.PageIndex"
               asp-route-currentFilter="@Model.CurrentFilter">@nameof(Model.Item.LessonName)</a>
        </th>
        <th>
            <a asp-page="./Index"
               asp-page-handler="Index"
               asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.LessonTime))"
               asp-route-pageIndex="@Model.PageIndex"
               asp-route-currentFilter="@Model.CurrentFilter">@nameof(Model.Item.LessonTime)</a>
        </th>
        <th>
            <a asp-page="./Index"
               asp-page-handler="Index"
               asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.Location))"
               asp-route-pageIndex="@Model.PageIndex"
               asp-route-currentFilter="@Model.CurrentFilter">@nameof(Model.Item.Location)</a>
        </th>
        <th>
            <a asp-page="./Index"
               asp-page-handler="Index"
               asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.EquipmentNeeded))"
               asp-route-pageIndex="@Model.PageIndex"
               asp-route-currentFilter="@Model.CurrentFilter">@nameof(Model.Item.EquipmentNeeded)</a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            @Html.MyEditorForIndexTableBody(modelItem => item.Instructor)
            @Html.MyEditorForIndexTableBody(modelItem => item.Student)
            @Html.MyEditorForIndexTableBody(modelItem => item.LessonName)
            @Html.MyEditorForIndexTableBody(modelItem => item.LessonTime)
            @Html.MyEditorForIndexTableBody(modelItem => item.Location)
            @Html.MyEditorForIndexTableBody(modelItem => item.EquipmentNeeded)

            <td>
            <a asp-page="./Edit" 
               asp-page-handler="Edit" 
               asp-route-id="@item.Id"    
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@Model.PageIndex" 
               asp-route-currentFilter="@Model.CurrentFilter" 
               >Edit</a>&nbsp;

            <a asp-page="./Details" 
               asp-page-handler="Details" 
               asp-route-id="@item.Id"    
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@Model.PageIndex" 
               asp-route-currentFilter="@Model.CurrentFilter" 
               >Details</a>&nbsp;

            <a asp-page="./Delete" 
               asp-page-handler="Delete" 
               asp-route-id="@item.Id"    
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@Model.PageIndex" 
               asp-route-currentFilter="@Model.CurrentFilter" 
               >Delete</a>            
            </td>

        </tr>
}
    </tbody>
</table>
</body>