@page
@model Pages.LessonsPage
@using App.Pages.Extensions
@{
    
    Layout = "_Index";
}

<body>
<table class="table">
    <thead>
        <tr>
            @Html.MyEditorForIndexTableHead(model => model.Items[0].Instructor)
            @Html.MyEditorForIndexTableHead(model => model.Items[0].Student)
            @Html.MyEditorForIndexTableHead(model => model.Items[0].LessonName)
            @Html.MyEditorForIndexTableHead(model => model.Items[0].LessonTime)
            @Html.MyEditorForIndexTableHead(model => model.Items[0].Location)
            @Html.MyEditorForIndexTableHead(model => model.Items[0].EquipmentNeeded)
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            @Html.MyEditorForIndexTableBody(modelItem => item.Instructor)
            @Html.MyEditorForIndexTableBody(modelItem => item.Student)
            @Html.MyEditorForIndexTableBody(modelItem => item.LessonName)
            @Html.MyEditorForIndexTableBody(modelItem => item.LessonTime)
            @Html.MyEditorForIndexTableBody(modelItem => item.Location)
            @Html.MyEditorForIndexTableBody(modelItem => item.EquipmentNeeded)
            <td>
                <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-page-handler="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>