@page
@model Pages.Party.LessonsPage
@using App.Pages.Extensions
@{
    
    Layout = "_Index";
}

<body>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.Instructor))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.Student))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.LessonName))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.LessonTime))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.Location))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.EquipmentNeeded))
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            @Html.MyEditorForIndexTableBody(modelItem => item.Instructor)
            @Html.MyEditorForIndexTableBody(modelItem => item.Student)
            @Html.MyEditorForIndexTableBody(modelItem => item.LessonName)
            @Html.MyEditorForIndexTableBody(modelItem => item.LessonTime)
            @Html.MyEditorForIndexTableBody(modelItem => item.Location)
            @Html.MyEditorForIndexTableBody(modelItem => item.EquipmentNeeded)

            <td>
            <a asp-page="./Edit" 
               asp-page-handler="Edit" 
               asp-route-id="@item.Id"    
               asp-route-order="@Model.CurrentOrder"
               asp-route-idx="@Model.PageIndex" 
               asp-route-filter="@Model.CurrentFilter" 
               >Edit</a>&nbsp;

            <a asp-page="./Details" 
               asp-page-handler="Details" 
               asp-route-id="@item.Id"    
               asp-route-order="@Model.CurrentOrder"
               asp-route-idx="@Model.PageIndex" 
               asp-route-filter="@Model.CurrentFilter" 
               >Details</a>&nbsp;

            <a asp-page="./Delete" 
               asp-page-handler="Delete" 
               asp-route-id="@item.Id"    
               asp-route-order="@Model.CurrentOrder"
               asp-route-idx="@Model.PageIndex" 
               asp-route-filter="@Model.CurrentFilter" 
               >Delete</a>            
            </td>

        </tr>
}
    </tbody>
</table>
</body>