@page
@model Pages.InstructorsPage

@using App.Pages.Extensions
@{
    
    Layout = "_Index";
}

<body>
<table class="table">
    <thead>
    <tr>
        @Html.MyEditorForIndexTableHead(model => model.Items[0].FullName)
        @Html.MyEditorForIndexTableHead(model => model.Items[0].FirstName)
        @Html.MyEditorForIndexTableHead(model => model.Items[0].LastName)
        @Html.MyEditorForIndexTableHead(model => model.Items[0].PhoneNr)
        @Html.MyEditorForIndexTableHead(model => model.Items[0].LessonsGiven)
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
    <tr>
        @Html.MyEditorForIndexTableBody(modelItem => item.FullName)
        @Html.MyEditorForIndexTableBody(modelItem => item.FirstName)
        @Html.MyEditorForIndexTableBody(modelItem => item.LastName)
        @Html.MyEditorForIndexTableBody(modelItem => item.PhoneNr)
        @Html.MyEditorForIndexTableBody(modelItem => item.LessonsGiven)
        <td>
            <a asp-page="./Edit" asp-page-handler="Edit"  asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Details" asp-page-handler="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-page="./Delete" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
</body>