@page
@model Pages.Party.InstructorsPage
@using App.Pages.Extensions
@{
    Layout = "_Index";
}
<body>
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-page="./Index"
               asp-page-handler="Index"
               asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.FullName))"
               asp-route-pageIndex="@Model.PageIndex"
               asp-route-currentFilter="@Model.CurrentFilter"
            >@nameof(Model.Item.FullName)</a>
        </th>
        <th>
            <a asp-page="./Index"
               asp-page-handler="Index"
               asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.FirstName))"
               asp-route-pageIndex="@Model.PageIndex"
               asp-route-currentFilter="@Model.CurrentFilter"
            >@nameof(Model.Item.FirstName)</a>
        </th>
        <th>
            <a asp-page="./Index"
               asp-page-handler="Index"
               asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.LastName))"
               asp-route-pageIndex="@Model.PageIndex"
               asp-route-currentFilter="@Model.CurrentFilter"
            >@nameof(Model.Item.LastName)</a>
        </th>
        <th>
            <a asp-page="./Index"
               asp-page-handler="Index"
               asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.PhoneNr))"
               asp-route-pageIndex="@Model.PageIndex"
               asp-route-currentFilter="@Model.CurrentFilter"
            >@nameof(Model.Item.PhoneNr)</a>
        </th>
        <th>
            <a asp-page="./Index"
               asp-page-handler="Index"
               asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.LessonsGiven))"
               asp-route-pageIndex="@Model.PageIndex"
               asp-route-currentFilter="@Model.CurrentFilter"
            >@nameof(Model.Item.LessonsGiven)</a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
    <tr>
        @Html.MyEditorForIndexTableBody(modelItem => item.FullName)
        @Html.MyEditorForIndexTableBody(modelItem => item.FirstName)
        @Html.MyEditorForIndexTableBody(modelItem => item.LastName)
        @Html.MyEditorForIndexTableBody(modelItem => item.PhoneNr)
        @Html.MyEditorForIndexTableBody(modelItem => item.LessonsGiven)

        <td>
            <a asp-page="./Edit" 
               asp-page-handler="Edit" 
               asp-route-id="@item.Id"    
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@Model.PageIndex" 
               asp-route-currentFilter="@Model.CurrentFilter" 
               >Edit</a>&nbsp;

            <a asp-page="./Details" 
               asp-page-handler="Details" 
               asp-route-id="@item.Id"    
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@Model.PageIndex" 
               asp-route-currentFilter="@Model.CurrentFilter" 
               >Details</a>&nbsp;

            <a asp-page="./Delete" 
               asp-page-handler="Delete" 
               asp-route-id="@item.Id"    
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@Model.PageIndex" 
               asp-route-currentFilter="@Model.CurrentFilter" 
               >Delete</a>        
        </td>
    </tr>
}
    </tbody>
</table>
</body>