@page
@model Pages.Party.StudentsPage

@using App.Pages.Extensions
@{
    
    Layout = "_Index";
}

<body>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.FullName))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.FirstName))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.LastName))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.PhoneNr))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.Email))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.Weight))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.Height))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.ShoeSize))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.EnrollmentDate))
        </th>
        <th>
            @Html.MyTabHdr(nameof(Model.Item.Level))
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
    <tr>
        @Html.MyEditorForIndexTableBody(modelItem => item.FullName)
        @Html.MyEditorForIndexTableBody(modelItem => item.FirstName)
        @Html.MyEditorForIndexTableBody(modelItem => item.LastName)
        @Html.MyEditorForIndexTableBody(modelItem => item.PhoneNr)
        @Html.MyEditorForIndexTableBody(modelItem => item.Email)
        @Html.MyEditorForIndexTableBody(modelItem => item.Weight)
        @Html.MyEditorForIndexTableBody(modelItem => item.Height)
        @Html.MyEditorForIndexTableBody(modelItem => item.ShoeSize)
        @Html.MyEditorForIndexTableBody(modelItem => item.EnrollmentDate)
        @Html.MyEditorForIndexTableBody(modelItem => item.Level)

        <td>
            <a asp-page="./Edit" 
               asp-page-handler="Edit" 
               asp-route-id="@item.Id"    
               asp-route-order="@Model.CurrentOrder"
               asp-route-idx="@Model.PageIndex" 
               asp-route-filter="@Model.CurrentFilter" 
               >Edit</a>&nbsp;

            <a asp-page="./Details" 
               asp-page-handler="Details" 
               asp-route-id="@item.Id"    
               asp-route-order="@Model.CurrentOrder"
               asp-route-idx="@Model.PageIndex" 
               asp-route-filter="@Model.CurrentFilter" 
               >Details</a>&nbsp;

            <a asp-page="./Delete" 
               asp-page-handler="Delete" 
               asp-route-id="@item.Id"    
               asp-route-order="@Model.CurrentOrder"
               asp-route-idx="@Model.PageIndex" 
               asp-route-filter="@Model.CurrentFilter" 
               >Delete</a>        
       </td>
    </tr>
}
    </tbody>
</table>
</body>